name: Lint
on:
- pull_request
- push

permissions:
  contents: read

jobs:
  markdownlint:
    name: markdown
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Run markdownlint
      uses: DavidAnson/markdownlint-cli2-action@v20

  shellcheck:
    name: shellcheck
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Run shellcheck
      uses: ludeeus/action-shellcheck@2.0.0
